* {
  outline: 2px solid red;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  text-align: center;
  display: block;
  margin-left: 150px;
}